<web-app>
	<servlet>
		<servlet-name>loginMapping</servlet-name>
		<servlet-class>servlet.LoginServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>loginMapping</servlet-name>
		<url-pattern>/login</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>logoutMapping</servlet-name>
		<servlet-class>servlet.LogoutServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>logoutMapping</servlet-name>
		<url-pattern>/logout</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>inquiryMapping</servlet-name>
		<servlet-class>servlet.InquiryServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>inquiryMapping</servlet-name>
		<url-pattern>/inquiry</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>listMapping</servlet-name>
		<servlet-class>servlet.ListServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>listMapping</servlet-name>
		<url-pattern>/list</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>showMapping</servlet-name>
		<servlet-class>servlet.ShowServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>showMapping</servlet-name>
		<url-pattern>/show</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>replyMapping</servlet-name>
		<servlet-class>servlet.ReplyServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>replyMapping</servlet-name>
		<url-pattern>/reply</url-pattern>
	</servlet-mapping>

	<session-config>
		<session-timeout>360</session-timeout>
	</session-config>
</web-app>